


    {% extends 'base.html' %}
{% block body %}
<form  method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="container">
    <h1>Add book</h1>

    <hr>

    <input type="text" placeholder="Enter book name" name="name" ><br>


    <input type="text" placeholder="Enter Description" name="desc" ><br>

    <input type="text" placeholder="Enter Year" name="year" ><br>


    <input type="file"  name="img" ><br>

    <div class="clearfix">

       <input type="submit" name="submit" ><br>
    </div>
  </div>
</form>

{% endblock %}
